@keyframes loadtext {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

.header {
  text-align: none;
  color: black;
  padding: 30px;
  font-size: 30px;
}

/* navigation links */

a{
  transition: 0.5;
  font-size: 20px;
}

a:link {
  transition:0.5s;
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  transition:0.5s;
  color: white;
  text-decoration: none;
}

a:active {
  transition:0s;
  color: blue;
  text-decoration: none;
}

ab{
  opacity: 1;
  animation: loadtext;
  animation-duration: 1.5s;
  animation-delay: 0s;
}

ac{
  opacity: 1;
  animation: loadtext;
  animation-duration: 2s;
  animation-delay: 0s;
}

ad{
  opacity: 1;
  animation: loadtext;
  animation-duration: 3s;
  animation-delay: 0s;
}

ae{
  opacity: 1;
  animation: loadtext;
  animation-duration: 4s;
  animation-delay: 0s;
}
