/* home */

.header {
  text-align: center;
  padding: 60px;
  background: #4d4c4c;
  color: white;
  font-size: 30px;
}

a:link {
  color: white;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
