.header {
  text-align: none;
  padding: 30px;
  background: #4d4c4c;
  color: white;
  font-size: 30px;
}

/* navigation links */

@keyframes loadtext {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

a{
  transition: 0.5;
  font-size: 20px;
  opacity: 1;
  animation: loadtext;
  animation-duration: 0.5s;
  animation-delay: 0s;
}
a:link {
  transition:0.5s;
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  transition:0.5s;
  color: black;
  text-decoration: none;
}

a:active {
  transition:0s;
  color: blue;
  text-decoration: none;
}
